.sugar-content{
    width: 40%;
    padding: 1.5%;
    background-color :  rgb(229, 244, 226);
    color: #141818;
    font-size: 20px;
    position: relative;
    left: 57%;
    bottom: 10%;
    display: inline-block;
}
.aft-btns{
    display: flex;
    padding-left: 23%;
   
}

.read-btn{
    margin: 2%;
    background-color :rgb(24, 111, 17);
    float : left;
}

.video-btn{
    margin: 2%;
    background-color :rgb(24, 111, 17);
    float : left;
}

.btn-link-read{
    color:#e6f5f7;
    text-decoration: none;
}

.btn-link-read:hover{
    color: rgb(213, 235, 90);
}

.btn-link-read:visited{
    text-decoration: none;
    color: white;
}

.btn-link-video{
    color:#eaf6ea;
    text-decoration:none;
}

.btn-link-video:hover{
    color: rgb(213, 243, 148);
}

.btn-link-video:visited{
    text-decoration: none;
    color: white;
}
.cough-content{
    width: 40%;
    padding: 1.5%;
    background-color :  rgb(229, 244, 226);
    text-align : left;
    color: #141818;
    font-size: 20px;
    position: relative;
    left: 3%;
    top: 3%;
    display: inline-block;
}
.highBP-content{
    width: 40%;
    padding: 1.5%;
    background-color : rgb(229, 244, 226);
    text-align : left;
    color: #141818;
    font-size : 20px;
    position: relative;
    left: 3%;
    bottom: 10%;
    display: inline-block;
}
.bone-content{
    width: 40%;
    padding: 1.5%;
    background-color : rgb(229, 244, 226);
    text-align : left;
    color: #141818;
    font-size : 20px;
    position: relative;
    left: 57%;
    bottom: 23%;
}

footer {
    background-color: black;
    color: white;
    padding: 0.5%;
    text-align: center;
    font-size: large;
  }